{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Amazon</title>
</head>
<body>
{% include 'navbar.html' %}
{% block content %}
{% endblock %}

  <script src="https://kit.fontawesome.com/eea5dcc8ef.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/min.js' %}"></script>
</body>
</html>