{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="container">
    <article>
        <div class="row">
        <div class="col-lg-6">
            <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "true";
amzn_assoc_tracking_id = "bestdeal0a59-20";
amzn_assoc_search_bar_position = "bottom";
amzn_assoc_ad_mode = "search";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "Shop Related Products";
amzn_assoc_default_search_phrase = "apple laptop";
amzn_assoc_default_category = "All";
amzn_assoc_linkid = "191bd40c95e83369e2ad7c444bdc4b7b";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
        </div>
        </div>

        <hr>

        <div class="col-lg-6">
            <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_tracking_id = "bestdeal0a59-20";
amzn_assoc_ad_mode = "search";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_default_search_phrase = "treadmill";
amzn_assoc_default_category = "All";
amzn_assoc_linkid = "d25d60b2b88e65af951ebf7b29d96052";
amzn_assoc_search_bar = "true";
amzn_assoc_search_bar_position = "top";
amzn_assoc_title = "Shop Related Products";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
        </div>
        <hr>

    </article>
    </main>
{% endblock %}
